<header class="header" *ngIf="_headerSiNo">
  <div class="titulo">
    <div class="letra-uno color-verde">Quantus</div>
    <div class="letra-dos">MaqV2</div>
  </div>
  <div style="width: 100%; margin: 5px">
    <input
      type="text"
      class="search-box"
      placeholder="Buscar..."
      autocomplete="off"
      (keyup)="onKeypressEvent($event)"
    />
  </div>
  <div class="menu-header">
    <a class="botones-menu" (click)="btnAccion()"
      ><i class="fa-solid fa-bars"></i>
      <span class="textoBtn"> &thinsp;Menu</span>
    </a>
  </div>
</header>
