/*Responsive Styles*/

/* Smartphones (portrait) ---------------- */
@media only screen and (max-width: 320px) {
  /* Add Your CSS Styling Here */
  .list-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  /*
  .titulo {
    display: none;
  }
  */

  .header {
    display: grid;
    grid-template-columns: 70% 30%;
  }
}

/* Smartphones (landscape) ---------------- */
@media only screen and (min-width: 321px) and (max-width: 767px) {
  /* Add Your CSS Styling Here */

  .header {
    display: grid;
    grid-template-columns: 100%;
  }

  .titulo {
    display: none;
  }
}

/* Tablets (portrait) -------------------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Add Your CSS Styling Here */
  .list-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablets (landscape) ------------------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Add Your CSS Styling Here */
  .list-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
