<br />
<div class="seccion-titulo">
  <div class="menu-catalogos">
    <h2 class="colorBlanco">Filtrar</h2>
    <div style="max-width: 350px; min-width: 100px">
      <a class="boton-regresar" (click)="btnRegresar()">
        <i class="fa-solid fa-house icono-xlg centrar-icono"></i>
        <span class="textoBtn"> &thinsp;Regresar</span>
      </a>
      <a class="boton-guardar" (click)="btnGuardar()">
        <i class="fa-solid fa-floppy-disk icono-xlg centrar-icono"></i>
        <span class="textoBtn"> &thinsp;Aceptar</span>
      </a>
    </div>
  </div>
  <hr />
</div>
<br />
<br />
<div class="seccion-principal">
  <div class="capturaBackGround">
    <form class="formsClass" autocomplete="off">
      <label for="clave" class="labelInput">Fecha de consulta</label>
      <input
        type="text"
        class="inputClass"
        [(ngModel)]="_fecha"
        [value]="_fecha"
        name="_fecha"
        id="datepicker"
        readonly="true"
      />

      <label for="Nombre" class="labelInput">Filtrar por equipo</label>
      <input type="text" id="Nombre" name="Nombre" class="inputClass" />

      <label for="Nombre" class="labelInput">Filtrar por obra</label>
      <input type="text" id="Nombre" name="Nombre" class="inputClass" />

      <label for="Nombre" class="labelInput">Filtrar por operador</label>
      <input type="text" id="Nombre" name="Nombre" class="inputClass" />
    </form>
  </div>
</div>
