<br />
<div class="seccion-titulo">
  <div class="menu-catalogos">
    <h2 class="colorBlanco">Ubicacion : {{ _accionTxt }}</h2>
    <div style="max-width: 350px; min-width: 100px">
      <a class="boton-regresar color-verde" (click)="btnRegresar()">
        <i class="fa-solid fa-house icono-xlg centrar-icono"></i>
        <span class="textoBtn"> &thinsp;Regresar</span>
      </a>
      <a class="boton-guardar color-verde" (click)="btnGuardar()">
        <i class="fa-solid fa-floppy-disk icono-xlg centrar-icono"></i>
        <span class="textoBtn"> &thinsp;Guardar</span>
      </a>
    </div>
  </div>
  <hr />
</div>
<br />
<br />
<div class="seccion-principal">
  <div class="capturaBackGround">
    <form class="formsClass" autocomplete="off">
      <label for="idObra" class="labelInput">Equipo</label>
      <input type="text" id="idObra" name="idObra" class="inputClass" />

      <label for="Nombre" class="labelInput">Obra</label>
      <input type="text" id="Nombre" name="Nombre" class="inputClass" />

      <label for="Nombre" class="labelInput">Operador</label>
      <input type="text" id="Nombre" name="Nombre" class="inputClass" />

      <label for="Nombre" class="labelInput">Fecha</label>
      <input type="text" id="Nombre" name="Nombre" class="inputClass" />

      <label for="Nombre" class="labelInput">Comentarios</label>
      <input type="text" id="Nombre" name="Nombre" class="inputClass" />

      <label for="Nombre" class="labelInput">Odometro</label>
      <input type="text" id="Nombre" name="Nombre" class="inputClass" />

      <label for="Nombre" class="labelInput">Sello</label>
      <input type="text" id="Nombre" name="Nombre" class="inputClass" />

      <label for="Nombre" class="labelInput">Listros</label>
      <input type="text" id="Nombre" name="Nombre" class="inputClass" />

      <label for="Nombre" class="labelInput">Horometro</label>
      <input type="text" id="Nombre" name="Nombre" class="inputClass" />

      
    </form>
  </div>
</div>
